
/* Your CSS Code here. */
.h{
	background-color:indianred;
	color:white;
	text-align:left
}
.a{
	background-color:palevioletred;
	color:white
/* 	text-align:right; */
}
.b{
	background-color:gray;
}
.c{
	background-color:rosybrown;
}


